body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}

.transform-link {
    font-size: 18px;
    text-decoration: none;
    color: #333;
    transition: transform 0.3s ease;
}

.transform-link:hover {
    transform: scale(1.2) rotate(30deg);
    color: #007BFF;
}

.transform-image {
    width: 200px;
    transition: transform 0.3s ease;
}

.transform-image:hover {
    transform: scale(1.2);
}

